p Greetings!

p You are getting this email because someone (hopefully you) is trying to sign into Web Reducer with your email address. If it's not you, let us know, but if it is you, click 
  a(href=domain + "/" + token) this link